@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
  text-transform: capitalize;
}
body {
  min-height: 100vh;
  background: url("./Images/Pink\ and\ Purple\ Gradient\ Shapes\ Sky\ Linktree\ Background 4.png");
  background-size: contain;
  background-position: center;
}
header {
  position: fixed;
  top: -50px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background-color: #eee;
  padding-top: 35px;
}

header .logo img {
  width: 170px;
  height: 60px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
}
header .navbar ul {
  list-style: none;
  margin-right: 200px;
  background-color: #eee;
  padding-top: 15px;
}
header .navbar ul li {
  position: relative;
  float: left;
  background-color: #eee;
}
header .navbar ul li a {
  font-size: 22px;
  font-weight: 600;
  padding: 20px;
  color: #333;
  display: block;
}
header .navbar ul li a:hover {
  background-color: #33cc33;
  color: #fff;
  border-radius: 30px;
  font-weight: 500;
}
header .navbar ul li ul {
  position: absolute;
  left: 0;
  width: 200px;
  background-color: #eee;
  display: none;
}

header .navbar ul li ul li {
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  background: #eee;
}
header .navbar ul li ul li a:hover {
  background-color: #33cc33;
  color: #fff;
  border-radius: 0;
}
header .navbar ul li ul li ul {
  left: 200px;
  top: 0;
}

header .navbar ul li:focus-within,
header .navbar ul li:hover > ul {
  display: initial;
}

#menu-bar {
  display: none;
}

header label {
  font-size: 20px;
  color: #333;
  cursor: pointer;
  display: none;
}

.maindiv {
  background-image: url(./Images/335097687_231648602596171_8528242000027468650_n.jpg);
  background-size: 100% 100%;
  width: 90%;
  height: 580px;
  margin: 0 auto;
  margin-top: 100px;

  box-shadow: 3px 3px 10px 5px white;
  animation: slider 15s infinite linear;
}
.maindiv img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recent-events,.future-eve {
  text-align: center;
  margin-top: 30px;
  font-size: 30px;
  margin-top: 20px;
}
span {
  color: #33cc33;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.gallery span{
    color: #33cc33;
  font-weight: 600;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 50px;
}

.hero {
  width: 100%;
  height: 500px;
  position: relative;
  margin-left: 8px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 0;
}

a {
  text-decoration: none;
}

body, html {
  height: 100%;
}

body {
    background: #dfebed;
    font-family: 'Roboto', sans-serif;
}

.container {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
}

.calendar {
    background: #2b4450;
    border-radius: 4px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, .3);
    height: 501px;
  perspective: 1000;
    transition: .9s;
    transform-style: preserve-3d;
    width: 100%;
}

/* Front - Calendar */
.front {
    transform: rotateY(0deg);
}

.current-date {
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    padding: 30px 40px;
}

.current-date h1 {
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
}

.week-days {
    color: #dfebed;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    padding: 30px 40px;
}

.days {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.weeks {
    color: #fff;
    display: flex;
    flex-direction: column;
    padding: 0 40px;
}

.weeks div {
    display: flex;
    font-size: 1.2em;
    font-weight: 300;
    justify-content: space-between;
    margin-bottom: 20px;
    width: 100%;
}

.last-month {
    opacity: .3;
}

.weeks span {
    padding: 10px;
}

.weeks span.active {
    background: #f78536;
    border-radius: 50%;
}

.weeks span:not(.last-month):hover {
    cursor: pointer;
    font-weight: 600;
}

.event {
    position: relative;
}

.event:after {
    content: '•';
    color: #f78536;
    font-size: 1.4em;
    position: absolute;
    right: -4px;
    top: -4px;
}

/* Back - Event form */

.back {
    height: 100%;
    transform: rotateY(180deg);
}

.back input {
    background: none;
    border: none;
    border-bottom: 1px solid rgba(73, 114, 133, .6);
    color: #dfebed;
    font-size: 1.4em;
    font-weight: 300;
    padding: 30px 40px;
    width: 100%;
}

.info {
    color: #dfebed;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 1.2em;
    padding: 30px 40px;
}

.info div:not(.observations) {
    margin-bottom: 40px;
}

.info span {
    font-weight: 300;
}

.info .date {
    display: flex;
    justify-content: space-between;
}

.info .date p {
    width: 50%;
}

.info .address p {
    width: 100%;
}

.actions {
    bottom: 0;
    border-top: 1px solid rgba(73, 114, 133, .6);
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
}

.actions button {
    background: none;
    border: 0;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 0;
    padding: 30px 0;
    text-transform: uppercase;
    width: 50%;
}

.actions button:first-of-type {
    border-right: 1px solid rgba(73, 114, 133, .6);
}

.actions button:hover {
    background: #497285;
    cursor: pointer;
}

.actions button:active {
    background: #5889a0;
    outline: none;
}

/* Flip animation */

.flip {
  transform: rotateY(180deg);
}

.front, .back {
    backface-visibility: hidden;
}



*,
*::before,
*::after {
  box-sizing: border-box;
}


.main {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
}

img {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow: 0 20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 400px;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(
    to bottom left,
    #42e695 40%,
    #3bb2b8 100%,
    #42e695 50%
  );
}

.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;
  font-weight: 400;
}

.hero{
    display: flex;
}

.gallery h2{
    font-size: 60px;
    text-align: center;
}

.card {
    border: none;
    background: none;
    border-radius: 0; }
    .card img {
      border-radius: 0; }
  

      .gallery-pics {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
      }
      .gallery-pics img{
      width:350px;
      height:250px ;
      border:2px solid ;
      border-radius: 13px;
      box-shadow: 4px 7px 7px 0px;
      cursor: pointer;
      margin: 10px;
      transition: 400ms;
      }
      .gallery-pics img:hover{
      filter: grayscale(l);
      transform: scale(1.03);
      }

      
    .container{
        max-width: 1170px;
        margin:auto;
    }
    .row{
        display: flex;
        flex-wrap: wrap;
    }
    ul{
        list-style: none;
    }
    .footer{
        background-color:#272727;
        padding-top: 130px;
        padding-bottom: 50px;
        position: relative;
    }
    .footer-col{
       width: 25%;
       padding: 0 15px;
    }
    .footer-col h4{
        font-size: 22px;
        color: #ffffff;
        text-transform: capitalize;
        margin-bottom: 35px;
        font-weight: 500;
        position: relative;
    }
    .footer-col h4::before{
        content: '';
        position: absolute;
        left:0;
        bottom: -10px;
        background-color: #e91e63;
        height: 2px;
        box-sizing: border-box;
        width: 50px;
    }
    .footer-col ul li:not(:last-child){
        margin-bottom: 10px;
    }
    .footer-col ul li a{
        font-size: 20px;
        text-transform: capitalize;
        color: #ffffff;
        text-decoration: none;
        font-weight: 300;
        color: #bbbbbb;
        display: block;
        transition: all 0.3s ease;
    }
    .footer-col ul li a:hover{
        color: #ffffff;
        padding-left: 8px;
    }
    .footer-col .social-links a{
        display: inline-block;
        height: 50px;
        width: 50px;
        background-color: rgba(255,255,255,0.2);
        margin:0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: #ffffff;
        transition: all 0.5s ease;
    }
    .footer-col .social-links a:hover{
        color: #24262b;
        background-color: #ffffff;
    }
    

    @media(max-width: 767px){
      .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    }
    @media(max-width: 574px){
      .footer-col{
        width: 100%;
    }
    }
    
    
    .custom-shape-divider-top-1688916393 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .custom-shape-divider-top-1688916393 svg {
        position: relative;
        display: block;
        width: calc(118% + 1.3px);
        height: 109px;
        transform: rotateY(180deg);
    }
    
    .custom-shape-divider-top-1688916393 .shape-fill {
        fill: #FFFFFF;
    }
    
    @import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

    .course {
        background-color: #fff;
        border-radius: 10px;
        box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
        display: flex;
        justify-content:right;
        margin: 20px;
        overflow: hidden;
        width: 430px;
        height: 120px;
        margin-left: auto;
        margin-left: 10px;
    }
    .courses-container {
        display: flex;
        justify-content: flex-end;
        flex-direction: column;
    }

    .course h2 {
        opacity: 0.6;
        margin: 0;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    
    .course h1 {
        letter-spacing: 1px;
        font-size: 35px;
        font-weight: 700;
    }
    
    .course-preview {
        background-color: #2A265F;
        color: #fff;
        padding: 30px;
        max-width: 250px;
    }
    .course-preview-3 {
        background-color: #2A265F;
        color: #fff;
        padding: 10px;
        padding-top: 30px;
        max-width: 250px;
    }
    
    .course-preview a {
        color: #fff;
        display: inline-block;
        font-size: 12px;
        opacity: 0.6;
        margin-top: 30px;
        text-decoration: none;
    }
    
    .course-info {
        padding: 30px;
        position: relative;
        width: 100%;
    }
    
    @media screen and (max-width: 480px) {
    
        .social-panel-container.visible {
            transform: translateX(0px);
        }
        
        .floating-btn {
            right: 10px;
        }
    }















@media (max-width: 991px) {
  header {
    padding: 20px;
  }
  header label {
    display: initial;
  }
  header .navbar {
    position: absolute;
    top: 100%;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    left: 0;
    right: 0;
    display: none;
  }
  header .navbar ul li {
    width: 100%;
  }
  header .navbar ul li ul {
    position: relative;
    width: 100%;
  }
  header .navbar ul li ul li {
    background: #eee;
  }
  header .navbar ul li ul li ul {
    width: 100%;
    left: 0;
  }
  #menu-bar:checked ~ .navbar {
    display: initial;
  }
}
